body{
    background-color: aqua;
    font-family: Old English Text MT;
    font-size: 15px;
}

h1{
    color: brown;
    background-color: lightblue;
}

h2{
    color: darkred;
}

p{
    text-align: justify;/*Alinha o texto do inicio ao fim da página*/
    color: rgb(69, 68, 68);
}/*Perceba que o CSS trabalha justamente com todo o estilo do código, cor, fonte, posição e etc....