@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #663F46;
}