@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: black url(imagens/back-phone.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #663F46;
}
main{
    background-color: rgba(255, 255, 255, 0.515);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

img{
    display: block;
    margin: auto;
    width: 80%;
    padding: 20px 0px;
}

#phone{
    display: block;
}
#tablet{
    display: none;
}
#pc{
    display: none;
}
#print{
    display: none;
}
#tv{
    display: none;
}