@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightblue;
    padding: 20px;
}
header h1{
    text-align: center;
    font-size: 2em;
}
menu ul{
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
menu ul li{
    background-color: rgb(67, 66, 66);
    color: white;
    display: inline-block;
    margin: 10px;
    font-size: 1.2em;
}
article{
    width: 600px;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    line-height: 1.5em;
}
article h2{
    padding-bottom: 10px;
}
