@charset "utf-8";

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
}

:root{
    --cor0: #000000;
    --cor1: #FFFFFF;
    --cor2: #727072;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;

    --fonte-passion-one: "Passion One", sans-serif;
    --fonte-sriracha: "Sriracha", cursive;
}

header{
    background-color: var(--cor0);
    color: var(--cor1);
    font-family: var(--fonte-passion-one);
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-size: 4.8em;
    font-variant: small-caps;
    font-size: 10vh;
}

header > p{
    padding-bottom: 50px;
    font-family: var(--fonte-padrao);
}

header a{
    color: var(--cor1);
    text-decoration: none;
}
header a:hover{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.688);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.NoImage{
    position: relative;
    padding-top: 10vh;/*Acabei de descobrir 1vh = 10px*/
    padding-bottom: 10vh;
    height: auto;
    
    
    background-color: var(--cor1);
}
.Image{
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.64);
}

#I1{
   background: black url(pacote-d012/imagens/background001.jpg) right center /cover no-repeat fixed;
}
#I2{
    background: black url(pacote-d012/imagens/background002.jpg) right center /cover no-repeat fixed;
}

.Poesia{
    white-space: pre-line;
    font-family: var(--fonte-sriracha);
    text-align: justify;
    font-weight: 400;
    font-size: 3.5vh;
    margin-left: 40px;
    
}

.Image > .Poesia{
    width: 400px;
    padding: 10px;
    background-color: #00000091;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
}

footer{
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
}