@charset "Utf-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main{
    height: 100vh;
    position: relative;
    background: green url(pacote-d013/imagens/fundo-madeira.jpg) center center / cover no-repeat;
}
#Telefone{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    height: 400px;
    width: 200px;
    border-radius: 13px;

    background: url(pacote-d013/imagens/frame-iphone.png) center center / 200px no-repeat fixed;
}
#Tela{
    position: relative;
    top: 50px;
    left: 14px;
    width: 171px;
    height: 303px;
    
}
#Redes-Sociais{
    position: absolute;
    left: 94%;
    top: 50%;
    height: 400px;
    width: 50px;
    transform: translate(-50%, -50%);

}
#Redes-Sociais > a{
    display: block;
    padding-top: 40px;
}
#Redes-Sociais img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#Home:hover{
    background-color: rgba(51, 67, 67, 0.351);
    padding: 5px;
    border-radius: 50px;
}
#Youtube:hover{
    background-color: rgba(91, 17, 17, 0.471);
    padding: 5px;
    border-radius: 50px;
}
#Facebook:hover{
    background-color: rgba(20, 66, 152, 0.351);
    padding: 5px;
    border-radius: 50px;
}
#Instagram:hover{
    background-color: rgba(96, 17, 169, 0.493);
    padding: 5px;
    border-radius: 50px;
}